target/
!.mvn/wrapper/maven-wrapper.jar
/logs/*
!/logs/.gitkeep

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.metadata
.classpath
.project
.settings/
bin/
tmp/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db


### Claude Code ###
.claude/
.gstack/
